@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face{
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}


h1 {
  font-style: italic;
  font-family: monospace;
}

li {
  font-style: italic;
  font-family: monospace;
}

main {
  background-color: rgb(2, 69, 92);
}
/* Example CSS for dark mode */
.dark {
  background-color: #000;
  color: #fff;
}

/* Add more CSS styles for dark mode as needed */


h2 {
  font-family: monospace;
  font-style: italic;
}